* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1 {
  color: blue;
  margin: auto;
}

li {
  list-style: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
